{{ define "main" }}
<section class="article">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
      <time>{{ .Date.Format "02/01/2006" }}</time>
      <ul class="links">
        <li><a href="https://www.x.com/intent/post?url={{ .Title }}:%20{{ .Permalink }}" target="_blank" title="Share on X"><img src="https://cdn.simpleicons.org/x/aaa" draggable="false" alt="X Icon"></a></li>
        <li><a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" title="Share via email"><i data-lucide="mail"></i></a></li>
        <li><a onclick="navigator.clipboard.writeText('{{ .Permalink }}');" title="Copy link"><i data-lucide="link"></i></a></li>
      </ul>
      {{ with .Params.image }}
      <div class="cover-image"><a href="{{ . }}"><img src="{{ . }}"></a></div>
      {{ end }}
    </header>
    <div class="content">
      {{ .Content }}
    </div>
    <script src="https://giscus.app/client.js"
      data-repo="Alexander-499/portfolio"
      data-repo-id="R_kgDOQvYAGQ"
      data-category="Blog"
      data-category-id="DIC_kwDOQvYAGc4C0RIs"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="top"
      data-theme="dark"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </article>
</section>
{{ end }}