/* Background, PreWrapper */
.bg, .chroma { color: #d4d4d4; background-color: #191919; }

/* Error */
.chroma .err { color: #d4191b; }

/* ! LineLink, LineTableTD, LineTable, LineHighlight, LineNumbersTable, LineNumbers, Line */
.chroma .lnlinks { outline: none; text-decoration: none; color: inherit; }
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
.chroma .hl { background-color: #6e7681; }
.chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #737679; }
.chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #6e7681; }
.chroma .line { display: flex; }

/* ! Keyword, KeywordDeclaration, KeywordNamespace, KeywordReserved, KeywordType, NameNamespace, Operator, OperatorWord, GenericTraceback */
.chroma .k, .chroma .kd, .chroma .kn, .chroma .kr, .chroma .kt, .chroma .nn, .chroma .o, .chroma .ow, .chroma .gt { color: #d4d4d4 }
.chroma .o, .chroma .ow {  font-weight: bold; }

/* ! KeywordConstant, KeywordPseudo, NameConstant, NameLabel, NameProperty, NameVariable, NameVariableClass, NameVariableGlobal, NameVariableInstance, NameVariableMagic, LiteralDate, LiteralStringAffix, LiteralStringDelimiter, LiteralStringEscape, LiteralStringHeredoc, LiteralStringRegex, GenericHeading, GenericSubheading */
.chroma .kc, .chroma .kp, .chroma .no, .chroma .nl, .chroma .py, .chroma .nv, .chroma .vc, .chroma .vg, .chroma .vi, .chroma .vm, .chroma .ld, .chroma .sa, .chroma .dl, .chroma .se, .chroma .sh, .chroma .sr, .chroma .gh, .chroma .gu { color: #79c0ff; }
.chroma .no, .chroma .nl, .chroma .gh { font-weight: bold; }

/* ! NameClass, NameException */
.chroma .nc, .chroma .ne { color: #f0883e; font-weight: bold; }

/* ! NameDecorator, NameFunction, NameFunctionMagic */
.chroma .nd, .chroma .nf, .chroma .fm { color: #d2a8ff; font-weight: bold; }

/* ! NameEntity */
.chroma .ni { color: #ffa657; }

/* NameTag */
.chroma .nt { color: #569cd6; }

/* ! Literal, LiteralString, LiteralStringBacktick, LiteralStringChar, LiteralStringDoc, LiteralStringDouble, LiteralStringInterpol, LiteralStringOther, LiteralStringSingle, LiteralStringSymbol, LiteralNumber, LiteralNumberBin, LiteralNumberFloat, LiteralNumberHex, LiteralNumberInteger, LiteralNumberIntegerLong, LiteralNumberOct */
.chroma .l, .chroma .s, .chroma .sb, .chroma .sc, .chroma .sd, .chroma .s2, .chroma .si, .chroma .sx, .chroma .s1, .chroma .ss, .chroma .m, .chroma .mb, .chroma .mf, .chroma .mh, .chroma .mi, .chroma .il, .chroma .mo { color: #a5d6ff }

/* ! Comment, CommentHashbang, CommentMultiline, CommentSingle, CommentSpecial, CommentPreproc, CommentPreprocFile, GenericOutput, GenericPrompt */
.chroma .c, .chroma .ch, .chroma .cm, .chroma .c1, .chroma .cs, .chroma .cp, .chroma .cpf, .chroma .go, .chroma .gp { color: #8b949e; }
.chroma .c, .chroma .ch, .chroma .cm, .chroma .c1, .chroma .cs, .chroma .cp, .chroma .cpf { font-style: italic; }
.chroma .cs, .chroma .cp, .chroma .cpf { font-weight: bold; }

/* ! GenericDeleted, GenericError */
.chroma .gd, .chroma .gr { color: #ffa198; }
.chroma .gd { background-color: #490202; }

/* ! GenericEmph, GenericInserted, GenericStrong, GenericUnderline */
.chroma .ge { font-style: italic }
.chroma .gi { color: #56d364; background-color: #0f5323; }
.chroma .gs { font-weight: bold; }
.chroma .gl { text-decoration: underline; }

/* ! TextWhitespace */
.chroma .w { color: #6e7681 }