section.articles {
  flex-direction: column;
  gap: 8px;
  h1 { font-size: 48px; }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    a {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-bg-secondary);
      border-radius: 50%;
      padding: 4px;
      cursor: pointer;
      transition-duration: 200ms;

      &:hover { background-color: color-mix(in srgb, var(--color-bg-secondary), transparent 50%); }
      &:active { scale: 0.9; }
      svg { stroke: var(--color-text-secondary); }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;

    a {
      max-height: 192px;
      display: grid;
      grid-template-columns: 40px auto 1fr;
      gap: 12px;
      text-decoration: none;

      @media (width <= 720px) { grid-template-columns: 40px 1fr; }

      time {
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-text-secondary);
        text-transform: uppercase;
        font-feature-settings: "tnum" 1;

        .month, .day {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .year { font-size: 15px; }
        .month { font-size: 18px; }
        .day { font-size: 30px; margin-top: -4px; }
      }

      .cover-image { height: 100%; }

      img {
        height: 192px;
        aspect-ratio: 16/9;
        border-radius: 12px;
        border: 1px var(--color-bg-secondary) solid;

        @media (width <= 720px) { height: auto; }
      }

      .content {
        flex: 1;

        @media (width <= 720px) { grid-column: span 2; }

        h2 { font-size: 32px; }
        p { color: var(--color-text-secondary); }
      }
    }
  }
}