<footer id="footer">
  <div>
    <div class="left">
      &copy; 2025 Alexander499 -
      ❤️‍🔥 <a href="/">Alexander499</a>
      - Visits:  <span id="visitCount">&ndash;</span>
    </div>
    <div class="right">
      <ul>
        <li><a href="mailto:alexander499gg@gmail.de"><img src="https://cdn.simpleicons.org/gmail/a6adc8" alt></a></li>
        <li><a href="https://www.youtube.com/@alexander499_"><img src="https://cdn.simpleicons.org/youtube/a6adc8" alt></a></li>
        <li><a href="https://www.tiktok.com/@ac.alexander499"><img src="https://cdn.simpleicons.org/tiktok/a6adc8" alt></a></li>
        <li><a href="https://discord.gg/zB2PyHYu4T"><img src="https://cdn.simpleicons.org/discord/a6adc8" alt></a></li>
        <li><a href="https://scratch.mit.edu/users/Alexander499"><img src="https://cdn.simpleicons.org/scratch/a6adc8" alt></a></li>
        <li><a href="https://www.reddit.com/user/Alexander499_"><img src="https://cdn.simpleicons.org/reddit/a6adc8" alt></a></li>
        <li><a href="https://www.twitch.tv/alexander499tv"><img src="https://cdn.simpleicons.org/twitch/a6adc8" alt></a></li>
        <li><a href="https://twitter.com/Alexander499_"><img src="https://cdn.simpleicons.org/x/a6adc8" alt></a></li>
      </ul>
    </div>
  </div>
</footer>