main {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 128px 0 192px;
  counter-reset: topSongs topArtists;

  section {
    display: flex;
    width: calc(100% - 32px);
    max-width: 960px;
  }
}